name: build

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  windows-vs2022:
    name: Windows VS2022
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - config: Release
          - config: Debug
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
          # sdk: 10.0.19041.0
      - name: Configure
        run: setup_vs2022.bat
        shell: cmd
      - name: Build
        run: msbuild.exe build\windows-vs2022\Falcor.sln /p:Configuration=${{ matrix.config }}
        shell: cmd

